*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: #EB5B25;

    a {
        color: #FFFFFF !important;
        font-size: 18px;
        transition: all 0.5s;
    }

    a:hover {
        transform: scale(1.1);
    }

    img{
        border-radius: 50%;
    }

    button{
        color: #EB5B25;
        background-color: #FFFFFF;
    }
}

