#navbar {
    margin-bottom: 02%;
}

#footer {
    margin-top: 02%;
}

#productList {
    margin-top: 02%;
    margin-bottom: 02%;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
}

#filters {
    display: flex;
    justify-content: center;

    div {
        margin: 01%;
    }
}